# Copyright Contributors to the Shapeshifter project
#
# SPDX-License-Identifier: Apache-2.0

name: docs-latest

on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # checkout branch history required to update
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - name: Install Poetry and dependencies
        run: |
          pip install poetry
          poetry install --no-interaction --no-root
      - name: Configure fake git user to associate commits
        run: |
          git config --global user.name Docs deploy
          git config --global user.email docs-action@shapshifter
      - name: Push the main branch under the alias development
        run: poetry run mike deploy --push --update-aliases development
        env:
          ENABLE_PDF_EXPORT: 1
